<!-- copied from publications.html -->
{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 achievements-section" id="{{ $sectionID }}">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
  {{ else }}
    <h1 class="text-center" style="display: none">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
  {{ end }}
  <div class="container ms-auto text-center">
    <div class="btn-group flex-wrap" role="achievements-group" id="achievements-filter-buttons">
      {{ range .buttons }}
      <button type="button" class="btn btn-dark achievements-filtr-control" data-filter="achievements-{{ .filter }}">
        {{ .name }}
      </button>
      {{ end }}
    </div>
  </div>
  <div class="container filtr-achievements">
    <div class="row" id="achievements-card-holder">
      {{ range .achievements }}
        {{ partial "cards/achievement" . }}
      {{ end }}
    </div>
  </div>
</div>

{{ $script := resources.Get "scripts/achievements.js" | js.Build }}
<script src="{{ $script.RelPermalink }}" defer></script>
